//Button

%button {
     background-color: $color-accent;
     border: 2px solid transparent;
     color: $color-light; 
     font-weight: 500;
     font-size: 1.1rem;
     padding: 1rem 2rem;
     border-radius: 5px;
 }